#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.release.xcconfig"
OTHER_LDFLAGS = -ObjC -l"z" -framework "CoreTelephony" -framework "FBLPromises" -framework "FirebaseCore" -framework "FirebaseCoreDiagnostics" -framework "FirebaseInstallations" -framework "FirebaseMessaging" -framework "Foundation" -framework "GoogleDataTransport" -framework "GoogleUtilities" -framework "SQLCipher" -framework "Security" -framework "SystemConfiguration" -framework "UIKit" -framework "firebase_core" -framework "firebase_messaging" -framework "nanopb" -framework "path_provider" -framework "sqlcipher_flutter_libs" -weak_framework "UserNotifications"
#include "Generated.xcconfig"
